{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "globals": {
    "Vue": true,
    "window": true,
    "document": true
  }
}
